.products-wrapper .product {
    width: 30%;
    min-width: 300px;
    flex-grow: 1;
    flex-shrink: 1;
    margin: 15px;
    text-align: center;
}

.products-wrapper .product .img-holder {
    margin: 15px 15px 0px 15px;
    overflow: hidden;
}

.products-wrapper .product img {
    display: block;
    height: 300px;
    margin: 0px auto;
    padding: 0px;
}

.products-wrapper .product button {
    margin-bottom: 10px;
}

@media only screen and (max-width: 600px) {
    .products-wrapper .product {
        width: 100%;
        margin: 15px 0px;
        min-width: initial;
    }
}