@import "./_style.scss";
@import "./_layout.scss";

.contact .contact-wrapper {
    form,
    aside {
        min-width: 350px;
        flex-grow: 1;
    }
}

section.map {
    padding-bottom: 60px;

    iframe {
        display: block;
        height: 450px;
        width: calc(100% - 20px);
        margin: 10px;
        box-shadow: 0px 0px 10px map-get($theme, primary-color);
    }
}

@media only screen and (max-width: 600px) {
    .contact .contact-wrapper {
        form,
        aside {
            margin: 10px;
            min-width: 100%;
        }
    }
}
