@import "./_style.scss";
@import "./_layout.scss";

.intro {
    padding: 0;

    iframe {
        @include full-width(100%, 100%, 100%);

        display: block;
        height: 50vh;
        max-height: 56.4vw;
        border-radius: 0px;
    }
}

.shortcuts {
    position: relative;
    max-width: 100%;
    padding: 10px;

    &::before {
        @include absolute-position(0px, 0px, 0px, 0px);
        @include section-background;

        background-color: map-get($theme, secondary-color);
        opacity: 0.75;
    }

    .shortcuts-wrapper {
        @extend .centered;
        @include display-flex(initial, space-around, initial);

        text-align: center;

        a {
            flex: 1 1 0px;

            &:hover {
                svg,
                h3 {
                    color: map-get($theme, primary-color);
                    text-shadow: 2px 2px map-get($theme, secondary-color);
                }
            }

            h3 {
                text-shadow: 2px 2px $shadow-color;
                margin-bottom: 0px;
            }
        }

        .shortcut-icon {
            background-image: linear-gradient(0deg, map-get($theme, primary-color), map-get($theme, secondary-color));
            height: 70px;
            width: 70px;
            border-radius: 50%;
            margin: 0px auto;

            svg {
                margin-top: 17px;
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .intro iframe {
        margin: 0;
        width: 100%;
    }

    .shortcuts::before {
        right: 0vw;
        left: 0vw;
    }
}

@media only screen and (max-width: 500px) {
    .shortcuts .shortcuts-wrapper {
        flex-wrap: wrap;

        .icon-wrapper {
            width: 50%;
        }

        a {
            flex: 1 1 50%;
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }
}
