@import "./style.scss";
@import "./layout.scss";

.intro {
    padding: 0;

    iframe {
        display: block;
        height: 50vh;
        max-height: 56.4vw;
        width: 100%;
        min-width: 100%;
        max-width: 100%;
        border-radius: 0px;
    }
}

.shortcuts {
    position: relative;
    max-width: 100%;
    padding: 10px;

    &::before {
        content: "";
        background-color: map-get($theme-green, secondary-color);
        background-position: center;
        background-size: cover;
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        opacity: 0.75;
        z-index: -1;
    }

    .shortcuts-wrapper {
        @extend .centered;
        @include display-flex(initial, space-around, center);

        a {
            flex: 1 1 0px;

            &:hover {
                svg,
                h3 {
                    color: map-get($theme-green, primary-color);
                    text-shadow: 2px 2px map-get($theme-green, secondary-color);
                }
            }

            h3 {
                text-shadow: 2px 2px $shadow-color;
                margin-bottom: 0px;
            }
        }

        .shortcut-icon {
            background-image: linear-gradient(
                0deg,
                map-get($theme-green, primary-color),
                map-get($theme-green, secondary-color)
            );
            height: 70px;
            width: 70px;
            border-radius: 50%;
            margin: 0px auto;

            svg {
                margin-top: 17px;
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .intro iframe {
        margin: 0;
        width: 100%;
    }

    .shortcuts::before {
        right: 0vw;
        left: 0vw;
    }
}

@media only screen and (max-width: 500px) {
    .shortcuts-wrapper {
        flex-wrap: wrap;

        .icon-wrapper {
            width: 50%;
        }

        a {
            flex: 1 1 50%;
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }
}
