@import "./style.scss";
@import "./layout.scss";

.services {
    @extend .centered;

    h3 {
        margin-bottom: 30px;
    }

    .service-description {
        @extend .flex-wrap;

        img {
            width: 40%;
            min-width: 300px;
            max-width: 450px;
            height: 40%;
            margin: 20px auto 0px auto;
            flex-grow: 1;
        }

        .description {
            margin: 10px;
            text-align: justify;
            vertical-align: top;
            width: 50%;
            flex-grow: 1;

            &.description-right {
                order: 1;
            }

            &.description-left {
                order: -1;
            }
        }
    }
}

.nav-pills .nav-link {
    color: map-get($theme-green, primary-color);

    &.active {
        color: map-get($contrast, light-contrast);
        background-color: map-get($theme-green, primary-color);
    }
}

@media only screen and (max-width: 600px) {
    .services {
        .service-description {
            img {
                margin: 0px auto;
            }

            .description {
                margin: 0px;

                &.description-right,
                &.description-left {
                    display: block;
                    width: 100%;
                }
            }
        }
    }
}
