@import "./variables.scss";

/* General */

* {
    margin: 0px;
    padding: 0px;
    font-family: "Roboto", sans-serif;
}

a {
    text-decoration: none;
}

ul {
    margin-bottom: 0px;
}

p {
    padding: 20px;
}

h1,
h2,
h3,
h4,
h5,
a,
svg {
    color: map-get($contrast, light-contrast);
}

fieldset,
button,
input,
select,
select.form-select,
textarea,
iframe {
    border-radius: 5px;
}

fieldset {
    padding: 10px;
    color: map-get($contrast, light-contrast);
    margin: 0;
}

input:not(.btn),
select,
select.form-select,
textarea {
    margin-bottom: 10px;
}

form label,
input:not(.btn),
select,
select.form-select,
textarea {
    display: block;
    width: calc(100% - 20px);
}

button.btn,
input.btn {
    font-size: 16px;
    border: none;
    color: map-get($contrast, light-contrast);
    padding: 12px;
    cursor: pointer;
    background-color: map-get($theme-green, primary-color);
    background-position: center;
    box-shadow: 2px 2px 4px gray !important;
    transition: background 1s;

    &:hover,
    &:active {
        color: map-get($contrast, light-contrast);
        background-color: map-get($theme-green, primary-dark-color);
    }

    &:hover {
        background-image: radial-gradient(circle, transparent 1%, map-get($theme-green, primary-color) 1%);
        background-size: 15000%;
    }

    &:active {
        box-shadow: none;
        transform: translate(2px, 2px);
        transition: background 0s;
        background-color: map-get($theme-green, primary-color);
        background-size: 100%;
    }

    &.disabled {
        opacity: 0.6;
        cursor: not-allowed;
    }
}

input:not(.btn),
select,
select.form-select,
textarea {
    box-shadow: inset 0 0 5px map-get($theme-green, primary-dark-color);
    border: none;
    padding: 5px 10px;
    font-size: 14px;

    &:focus {
        outline: none !important;
        box-shadow: 0px 0px 15px map-get($theme-green, secondary-color);
        border-radius: 5px;
    }
}

hr {
    max-width: none !important;
    margin: 0px !important;
    border: solid 1px map-get($theme-green, primary-color);
    height: initial !important;
}

section hr {
    margin: 0px -10% !important;
}

/* Common */

h3.section-title {
    text-align: center;
    font-size: 30px;
    text-shadow: 4px 4px 6px map-get($theme-green, secondary-color);
    margin: 20px auto 40px auto;

    svg {
        margin: 0px 20px 5px 20px;
    }
}

.background {
    position: relative;
    max-width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.background::before {
    content: "";
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: -1;
}

.white-background,
.black-background {
    @extend .background;
}

.white-background {
    &::before {
        @extend .background::before;
        background-color: map-get($contrast, light-contrast);
        opacity: 0.75;
    }

    h3.section-title,
    h3.section-title svg {
        color: map-get($theme-green, primary-color);
    }

    hr.vertical-divider {
        border-color: map-get($theme-green, primary-color);
    }
}

.black-background {
    &::before {
        @extend .background::before;
        background-color: map-get($contrast, dark-contrast);
        opacity: 0.35;
    }

    p,
    h3.section-title,
    h3.section-title svg {
        color: map-get($contrast, light-contrast);
    }

    hr.vertical-divider {
        border-color: map-get($theme-green, secondary-color);
    }
}

.offcanvas {
    max-width: 300px;
    background-color: map-get($theme-green, primary-color);
}

.centered {
    margin: 0px auto;
}

.flex-wrap {
    @include display-flex(wrap, space-between, initial);

    img {
        width: 30%;
        min-width: 300px;
        flex-grow: 1;
        padding: 15px 10px;
    }
}

.vertical-divider-wrapper {
    @extend .flex-wrap;

    justify-content: space-around;
    overflow: hidden;

    .divider-column {
        width: calc(50% - 41px);
        min-width: 300px;
        flex-grow: 1;
    }
}

hr.vertical-divider {
    margin: 20px !important;
    border: none;
    border-width: 1px;
    border-style: solid;

    &:last-child {
        display: none;
    }
}

.card-body {
    h5,
    p {
        color: map-get($theme-green, primary-color);
        padding: 0;
        font-weight: bold;
    }
}

.carousel-control {
    width: 3rem;
    height: 3rem;
    border-radius: 5px;
    background-color: map-get($theme-green, primary-color);
    background-size: 80% 80%;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    @extend .carousel-control;
}

@media only screen and (max-width: 951px) {
    hr.vertical-divider {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    p {
        padding: 10px;
    }

    hr,
    section hr {
        margin: 0px !important;
    }

    .white-background::before,
    .black-background::before {
        right: 0vw;
        left: 0vw;
    }

    .flex-wrap img {
        width: 100%;
        min-width: inherit;
    }

    .vertical-divider-wrapper .divider-column {
        width: 100%;
        min-width: initial;
    }
}
