@import "./_style.scss";
@import "./_layout.scss";

.products-wrapper {
    @extend .flex-wrap;

    .product {
        @include full-width(30%, 300px, initial);

        flex-grow: 1;
        flex-shrink: 1;
        margin: 15px;
        text-align: center;

        .img-holder {
            margin: 15px 15px 0px 15px;
            overflow: hidden;
        }

        img {
            display: block;
            height: 300px;
            width: auto;
            margin: 0px auto;
            padding: 0px;
        }

        button {
            margin-bottom: 10px;
        }
    }
}

@media only screen and (max-width: 600px) {
    .products-wrapper .product {
        @include full-width(100%, initial, initial);

        margin: 15px 0px;

        img {
            @include full-width(auto, 300px, initial);
        }
    }
}
